<!doctype html>
<html lang="en">
    <head>
        {{ template "head" . }}
    </head>
    <body>
        <header>
            <h1>{{ site.Title }}</h1>
        </header>
        <main>
            {{ range . }}
            <a href="{{ .Slug }}">
                <article>
                    <p id="title">{{ .Title }}</p>
                    <p id="summary">{{ formatDate "Jan 2, 2006" .PublishedAt }} - {{ .Summary }}</p>
                    <p id="author">{{ .Author }} &bull; {{ .ReadingMinutes }} min read</p>
                </article>
            </a>
            {{ end }}
        </main>
    </body>
</html>
