<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/assets/style.css" />
        <link rel="stylesheet" href="/assets/post.css" />

        <meta property="og:title" content="{{.Title}}" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{{.OGImageURL}}" />
        <meta property="og:description" content="{{.Summary}}" />
        <meta name="description" content="{{.Summary}}" />

        <title>{{.Title}} - My Awesome Blog</title>
    </head>
    <body>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <aside>{{.ToC}}</aside>
        <main>{{.Body}}</main>
    </body>
</html>
