<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/assets/style.css" />

        <title>{{ .Tag }} - EasyBlog Quick Start</title>
        <meta name="description" content="REPLACE ME!!!" />
    </head>
    <body>
        <header>
            <h1>Tags!</h1>
        </header>
        <main>
            <p>Tag Name: {{ .Tag }}</p>
            {{ range .Posts }}
            <a href="{{ .Slug }}">
                <article>
                    <p id="title">{{ .Title }}</p>
                    <p id="summary">{{ .Date }} - {{ .Summary }}</p>
                    <p id="author">{{ .Author }}</p>
                </article>
            </a>
            {{ end }}
        </main>
    </body>
</html>
